@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
        width: 100%;
        background:  #fcf5e5;
}

/**/
.container{margin: 0; padding: 30px 2%;}

.clear{ clear: both;}

/**/

/*section 01 (tela inicial)*/
section.section01{
    height: 800px;
    max-width: 1400px;
    padding: 20px 3%;
}


/*header*/

section header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*logo*/
section  .logo{
    cursor: pointer;
    color: #C6327E;
   font-size: 25px;
   font-family: "Open Sans", sans-serif;
}


/*header desktop*/
nav.menu-mobile{
    color: #501435;
	width: 28px;
	height: 28px;
    float: right;
    margin-left: auto;
	margin-top:7px;
	cursor: pointer;
	background-image: url('../IMG/menu-mobile.png');/*mudar o icone para cor correta*/
	background-size:100% 100%;
	display: none;
}

nav.menu-mobile ul{
	display: none;
	z-index: 999;
	text-align: center;
	width: 100%;
	position: absolute;
	left: 0;
	top: 90px;
	background-color: #fcf5e5;
}

nav.menu-mobile ul li{
	font-size: 12px;
	text-transform: uppercase;
}

nav.menu-mobile ul li{
	padding:10px 0;
}

header nav.menu-desktop{
	float: right;
    margin-left: auto;
}

header nav.menu-desktop ul{
	padding:8px 0;
	list-style-type: none;
}

header nav.menu-desktop ul li{
	float: left;
	font-size: 14px;
	padding:0 20px;
	text-transform: uppercase;
}

header ul a{
    color: #C6327E;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
	text-decoration: none;
}
 /*fim do screan query */


 /*desktop chamada*/

.text_chamada{padding: 13px 2%;}

.text_chamada  h1{
    padding-top: 10%;
    font-size: 80px;
    font-family:  "Montserrat Alternates", sans-serif;
    color: #8F1A44;
}

.text_chamada p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 8px;
    font-size: 15px;
    color: #8F1A44;
}

.button_chamada{
    padding: 43px 2%;
    cursor: pointer;
}

.container_button{
    width: 20%;
    height: 60px;
    color: white;
    border-bottom: 2px solid ;
    border-radius: 10px;
    background: #8F1A44;
    text-align: center;
    position: absolute;
    font-size: 35px;                                                               
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}


/*fim secion 01*/



/*tecnicas*/
.tecnicas{
    max-width:1400px;
}

.tecnicas .text h1{
    text-align: center;
    font-family:  "Montserrat Alternates";
    font-weight: 400;
    padding: 20px 2%;
    font-size: 50px;
    color:#8F1A44 ;
}

.tecnicas .text h1 > span{
    color:  #501435;
}

/*texto titulo*/


/*container box 3(x)*/
.tecnicas .container_box{
    padding-left: 30%;   
    display: inline-block;
    width: 20%;
    height: 400px;
    background: black;
    border-radius: 10px;
}

.tecnicas .container_pai{
    padding-top: 6%;
    padding-left: 10%;
}


/*arrumar*/

/*fim section 02*/


/*section 03 (fedbacks)*/

.fedbacks{
    padding-top: 60px;
    width: 100%;
    height: 600px;
}



.fedbacks .titulo h1{
    font-family: "Montserrat", sans-serif;
    color: #501435;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
}



.part2{
	padding:103px 0px 28px 325px
}

.scrollEquipe{
	max-width: 600px;
	padding-left: 20px;
	overflow: hidden;
}

.scroll-wraper{
	width: 100%;
}

.sobre-autor{
	float: left;
	width: 100%;
	padding:0 20px;
}

.titulo-autor{
	float: left;
	width: 100%;
}

.wraper-titulo-autor{
	float: left;
}

.titulo-autor h2{
    font-family: "Montserrat", sans-serif;
    color: #501435;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-left: 200px;
}

.titulo-autor p{
    font-family: "Montserrat", sans-serif;
    color: #501435;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

/*

.titulo-autor .img-autor{
	float: left;
	width: 40px;
	height:40px;
	background-image: url('../imagens/actor1.png');
	background-size: 100% 100%;
	border-radius: 20px;
	background-color: transparent;
}

*/

.texto-autor{
	float: left;
	width: 100%;
	margin-top:10px;
}

.texto-autor p{
    padding-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    color: #501435;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.slider-bullets{
	width: 100%;
	padding-left: 280px;
	margin-top: 42px;
}

.slider-bullets span{
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 8px;
	cursor: pointer;
	border-radius: 8px;
	background-color: rgb(71, 24, 54);
}


/*sobre ela*/


.icone-seta{
	position: absolute;
    left: 50%;
    top: 317%;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	width: 44px;
	height: 44px;
	background-size: 100% 100%;
	background-image: url('../IMG/buttons\ de\ rolagem\ \(1\).png') ;
}



.sobre{
    height: 1600px;
    background: #8F1A44;
    max-width: 1345px;
}

.sobre .container_sobre{
    padding: 30px 2%;
  margin: 60px;
    width: 90%;
    height: 1469px;
    background: #581736;
}

.container_sobre .text_sobre{
    padding-top:40px;
    float: right;
    width: 50%;

}

.sobre .container_sobre h1{
    font-size: 60px;
    color: #FF5290;
}

.sobre .container_sobre p{
    padding-top: 20px; 
    color: white;
    font-size: 19px;
    font-family: "Open Sans";
}

/*SOBRE ELLA*/

.fqa .perguntas h3{
    font-family: "Open Sans";
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 26px;
    color: white;
}



.container_fqa1{
    padding: 20px 2%;
   margin-bottom: 23px;
}

.container_fqa1{
    cursor: pointer;
    padding-bottom: 13px;
    color: white;
    font-family: "Open Sans";
    margin-left: 50px;
    width: 90%;
    background: linear-gradient(to right, #FF5290, #993156);
}


.fqa p{
    margin-left: 53px;
    max-width: 1000px;   
    padding-bottom: 25px;
    
}


.container_fqa1 i{
    padding-top: 0px;
    padding-right: 3%;
    color:wheat;
    float: right;
}

/*fim*/



form{
    height: 600px;
    display: inline-block;
    width: 600px;
    line-height: 3.6;
    float: left;
    padding-top: 90px;
    padding-left: 53px;
    font-family: "Montserrat", sans-serif;
}

form input[type="text"]{
    width: 100%;
    border: 3px solid #581736;
    border-radius: 3px;
    padding: 10px 2%;
    background: #581736; 
    color: white;
}


form textarea{
    padding: 10px 2%;
    color: white;
    border-radius: 3px;
    width: 100%;

    background: #501435;
}



form input[type="submit"] {
    cursor: pointer;
    padding-top: 15px;
    width: 30%;
    height: 40px;
    border: 0px solid #581736;
    border-radius: 3px;
    padding: 10px 2%;
    background: #581736;
    color: antiquewhite;
    font-size: 17px;
    float: left;
}

/*FIM FORM*/

.map{
    height: 500px;
    width: 500px;
    float: right;
    margin-top: 80px;
     margin-right: 70px;
   border-radius: 3px;
}


@media screen and (max-width: 800px)  {
	nav.menu-desktop{
		display: none;
	}
	nav.menu-mobile{
		display: block;
	}
    .container_button{
    width: 40%;
    }

    .tecnicas .container_box{
    margin-top: 12px;
    display: flex;
     width: 90%;
    height: 200px;
}



 }

